**List**

In [121]:
l1 = [10,20,30,"40"]
sum_data = 0
for i in l1:
    sum_data += int(i)
print(sum_data)

100

**Modification Methods**

**Append** , **Extend**

append() -> Adds one item (even if it's a list).
extend() -> Adds each element of the given iterable.

In [102]:
movie_liked_list=[]

movie_liked_list.append("new_movie")
movie_liked_list.append(["list_append1","list_append2"])
movie_liked_list.append(("tup_append1","tup_append2"))

recomand_movies = ["krish","kick","1992"] # list add
recomand_movies_1 = ("tup1","tup2","tup3") # tuple also add

movie_liked_list.extend([recomand_movies])
movie_liked_list.extend([recomand_movies,recomand_movies_1])
print(movie_liked_list)

['new_movie', ['list_append1', 'list_append2'], ('tup_append1', 'tup_append2'), ['krish', 'kick', '1992'], ['krish', 'kick', '1992'], ('tup1', 'tup2', 'tup3')]

**insert**

In [103]:
#Write a Python program to insert an element at a negative index position in a list.

sample_list = ["A","B","c","D"]
sample_list.insert(-2,"E") # before index insert element
print(sample_list)

['A', 'B', 'E', 'c', 'D']

**+ and +=**

In [104]:
list1 = [1,2,3]
list2 = [4,5,6]
print(list1 + list2)
print(list2  + list1)
print(list1*5) # repeat list add

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

**remove**

In [105]:
# python program for remove frist "black" color from list

sample_list = [1,2,"red","black","blue","4",90,"black"]
sample_list.remove("black")
print(sample_list)

[1, 2, 'red', 'blue', '4', 90, 'black']

**pop** -| return element

In [106]:
sample_list = [90,9,45,91] 
# if i put value 09 thne error [90,09,45,91] 
""" In Python, numbers can't have leading zeros (like 09) unless you are 
defining an octal number (base 8). Octal numbers must use the prefix 0o."""

sample_list.pop() # remove -1 last index from list
print(sample_list)

[90, 9, 45]

**clear**

In [107]:
sample_list = [9,98,23,12]
sample_list.clear()
print(sample_list)

[]

**del list[index] or del list[start:stop]**

In [108]:
sample_list = [10,20,30,40,50,60,70,80,90]
print(sample_list)
del sample_list[2]
print(sample_list,"remove only 2nd index")
del sample_list [3:6]
print(sample_list,'index 3,4,5 remomve start from 3 and end 6 but not remove 6th element')

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 40, 50, 60, 70, 80, 90] remove only 2nd index
[10, 20, 40, 80, 90] index 3,4,5 remomve start from 3 and end 6 but not remove 6th element

**Search/Info Methods**

**index(x)** - Returns the index of the first occurrence of x.

In [109]:
food = ["apple", "banana", "milk", "bread", "banana", "eggs"]
user_input = input("Enter food name and check is it avaiable or not")
if user_input.lower() in food: 
    check_avail = food.index(user_input.lower())
    if check_avail:
        print(f"Yes this food avaiable and it number in list {check_avail}") # f"string {variable}" it is temeplete literal
else:
    print("Not found")

Enter food name and check is it avaiable or not banana

Yes this food avaiable and it number in list 1

**count()** - Returns the number of times x appears in the list.

In [110]:
orders = [
    "burger", "pizza", "salad", "burger", "fries", 
    "pizza", "pizza", "burger", "salad", "fries"
]
order_count = orders.count("salad")
print("count is", order_count)

count is 2

**Access by Index**

In [111]:
sample_list = [10,20,30,40,50]
#index =[10 -> 0,20 -> 1,30 -> 2, 40 ->3,50 -> 4]
print(sample_list[:3]) # start from default 0th index
print(sample_list[1:]) #end from  len(list)

[10, 20, 30]
[20, 30, 40, 50]

In [112]:
#index =[10 -> -5,20 -> -4,30 -> -3, 40 ->-2,50 -> -1]
print(sample_list[-3:-1])

[30, 40]

In [113]:
#index =[10 -> -5,20 -> -4,30 -> -3, 40 ->-2,50 -> -1]
print(sample_list[:-1])
print(sample_list[-3:])

[10, 20, 30, 40]
[30, 40, 50]

**list[start:stop:step]**

The :: is part of extended slice syntax:
start → where to begin (default: 0)
stop → where to end (default: end of list)
step → how much to jump (default: 1)
:step:

In [114]:
print(sample_list[1:2:4])
print(sample_list[:1:-1])
print(sample_list[:2:-1])
print(sample_list[::-2])

[20]
[50, 40, 30]
[50, 40]
[50, 30, 10]

**len(lst)**

In [115]:
print(len(sample_list))

5

**sum(lst)** - Returns the sum of all numeric elements.

In [125]:
list1 = [10,20,30,40,50]
print(sum(list1))

150

**min(lst) / max(lst)** - Returns the smallest / largest element.

In [118]:
sample_list = [1,2,3,4]
# sample_list = ['Abc',"UHy","12","Jut"] # min - 12 ,max - UHy  (capitallatter will be max)
# sample_list = ["abcd",12,'jasas',972] # error - # if we put str and it both in one list then min , max throw error
print(min(sample_list))
print(max(sample_list))

1
4

**sorted(lst)** - Returns a **new sorted list** (doesn't modify original).

In [82]:
list1  = [90,56,10,45,9,80]
new_list = sorted(list1)
print(list1,"before sort")
print(new_list,"After sort")

[90, 56, 10, 45, 9, 80] before sort
[9, 10, 45, 56, 80, 90] After sort

**list(iterable)** - Converts an iterable (e.g. string, tuple) to a list.

In [127]:
tup = (1,2,9,3)
new_list = list(tup)
print(tup)
print(new_list)

(1, 2, 9, 3)
[1, 2, 9, 3]

**enumerate()**

function adds a counter (index) to an iterable like a list, tuple, or string — and returns it as an enumerate object.
It's often used in loops when you need both the index and the value.
**iterable**: The list (or any iterable) you want to loop over.

**start** : **Optional**. The index you want to start counting from (**default is 0**).

In [128]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits,start=1):
    print(index, fruit)

**zip(list1, list2)** - Combines elements of two (or more) lists into tuples.
creating pairs (or tuples) of corresponding items. <br>
**Think of it as zipping up two lists into one — like a zipper!**

In [135]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 78]
roll_no = [100, 102,109]


zipped_for_two = zip(names, scores)
zipped_for_three = zip(names, scores,roll_no)


for name, score in zipped_for_two:
    print(f"{name} scored {score}")
    
print('*'*50)

for name, score,rollNo in zipped_for_three:
    print(f"{name} scored {score} and roll no is {rollNo}")

Alice scored 85
Bob scored 92
Charlie scored 78
**************************************************
Alice scored 85 and roll no is 100
Bob scored 92 and roll no is 102
Charlie scored 78 and roll no is 109

**Using( + Concatenation)**

In [141]:
list1 = [1,2,3]
list2 = [9,8,7]
print(list1 + list2)

[1, 2, 3, 9, 8, 7]

**Using * Unpacking**

In [149]:
a = [1, 2,3]
b = [3, 4]
c = [5, 6]
x,y = b
w, *z = a
print(x,y)
print(z)
combined = [*a, *b, *c]
print(combined)

3 4
[2, 3]
[1, 2, 3, 3, 4, 5, 6]

**itertools.chain()** - **(Best for big lists)**

In [151]:
from itertools import chain

log1 = ["logA", "logB"]
log2 = ["logC"]
log3 = ["logD"]

all_logs = list(chain(log1, log2, log3))
print(all_logs)

['logA', 'logB', 'logC', 'logD']

**Why use itertools?**
Great for data science, AI, automation, and web scraping

Works with huge datasets without using much memory

Avoids writing manual loop logic