**List**

In [4]:
l1 = [10,20,30,"40"]
sum = 0
for i in l1:
    sum += int(i)
print(sum)

100

**Modification Methods**

**Append** , **Extend**

append() -> Adds one item (even if it's a list).
extend() -> Adds each element of the given iterable.

In [20]:
movie_liked_list=[]

movie_liked_list.append("new_movie")
movie_liked_list.append(["list_append1","list_append2"])
movie_liked_list.append(("tup_append1","tup_append2"))

recomand_movies = ["krish","kick","1992"] # list add
recomand_movies_1 = ("tup1","tup2","tup3") # tuple also add

movie_liked_list.extend([recomand_movies])
movie_liked_list.extend([recomand_movies,recomand_movies_1])
print(movie_liked_list)

['new_movie', ['list_append1', 'list_append2'], ('tup_append1', 'tup_append2'), ['krish', 'kick', '1992'], ['krish', 'kick', '1992'], ('tup1', 'tup2', 'tup3')]

**insert**

In [35]:
#Write a Python program to insert an element at a negative index position in a list.

list = ["A","B","c","D"]
list.insert(-2,"E") # before index insert element
print(list)

['A', 'B', 'E', 'c', 'D']

**+ and +=**

In [50]:
list1 = [1,2,3]
list2 = [4,5,6]
print(list1 + list2)
print(list2  + list1)
print(list1*5) # repeat list add

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

**remove**

In [52]:
# python program for remove frist "black" color from list

list = [1,2,"red","black","blue","4",90,"black"]
list.remove("black")
print(list)

[1, 2, 'red', 'blue', '4', 90, 'black']

**pop** -| return element

In [8]:
list = [90,9,45,91] 
# if i put value 09 thne error [90,09,45,91] 
""" In Python, numbers can't have leading zeros (like 09) unless you are 
defining an octal number (base 8). Octal numbers must use the prefix 0o."""

list.pop() # remove -1 last index from list
print(list)

[90, 9, 45]

**clear**

In [9]:
list = [9,98,23,12]
list.clear()
print(list)

[]

**del list[index] or del list[start:stop]**

In [ ]:
list = [10,20,30,40,50,60,70,80,90]
print(list)
del list[2]
print(list,"remove only 2nd index")
del list [3:6]
print(list,'index 3,4,5 remomve start from 3 and end 6 but not remove 6th element')

**Search/Info Methods**

**index(x)** - Returns the index of the first occurrence of x.

In [23]:
food = ["apple", "banana", "milk", "bread", "banana", "eggs"]
user_input = input("Enter food name and check is it avaiable or not")
if user_input.lower() in food: 
    check_avail = food.index(user_input.lower())
    if check_avail:
        print(f"Yes this food avaiable and it number in list {check_avail}") # f"string {variable}" it is temeplete literal
else:
    print("Not found")

Enter food name and check is it avaiable or not banana

Yes this food avaiable and it number in list 1

**count()** - Returns the number of times x appears in the list.

In [26]:
orders = [
    "burger", "pizza", "salad", "burger", "fries", 
    "pizza", "pizza", "burger", "salad", "fries"
]
order_count = orders.count("salad")
print("count is", order_count)

count is 2

**Access by Index**

In [31]:
list = [10,20,30,40,50]
#index =[10 -> 0,20 -> 1,30 -> 2, 40 ->3,50 -> 4]
print(list[:3]) # start from default 0th index
print(list[1:]) #end from  len(list)

[10, 20, 30]
[20, 30, 40, 50]