**Tuple** - **Immutable: Cannot be modified after creation.**

A tuple is an immutable (unchangeable) sequence type

In [ ]:
my_tuple = (1, 2, 3)

A tuple with a single element must include a comma

In [3]:
single = (5,)  # not just (5)
single_tup = (5) # not work as tuple
print(single_tup)
print(single)

5
(5,)

**Tuple get**

In [13]:
tup = (2,3,4,1,3,89,9)
print(tup[:3])
print(tup[2:])
print(tup[-4:-1])
print(tup[-1:-3])

(2, 3, 4)
(4, 1, 3, 89, 9)
(1, 3, 89)
()

The :: is part of extended slice syntax:
start → where to begin (default: 0)
stop → where to end (default: end of list)
step → how much to jump (default: 1)
:step:

In [28]:
tup = (3,67,9,1,32,43,6,7,1)
print(tup[0:2:5])
print(tup[-4:-1])
print(tup[-5:-2:2])

(3,)
(43, 6, 7)
(32, 6)

**count(x)**

In [31]:
sold_sizes = ('M', 'L', 'M', 'S', 'L', 'M', 'XL', 'L', 'M')
m_count = sold_sizes.count('M')
print(f"Number of 'M' size T-shirts sold: {m_count}")
print(f"Number of 'L' size T-shirts sold: {sold_sizes.count('L')}")

Number of 'M' size T-shirts sold: 4
Number of 'L' size T-shirts sold: 3

**index(x)** -Returns the index of the first occurrence of x.

In [36]:
#Imagine you’re managing a train schedule, and you have a tuple that stores the names of the stations in the order they appear on a route.
stations = ('Central', 'Park Street', 'City Center', 'Lakeview', 'Hilltop', 'City Center')
index_city_center = stations.index('City Center')
print(f"The train first stops at 'City Center' at position: {index_city_center}")
print(f"The train first stops at 'Hilltop' at position: {stations.index('Hilltop')}")

The train first stops at 'City Center' at position: 2
The train first stops at 'Hilltop' at position: 4

**Not a built-in Tuple Methods but still can use with tuple**

**len(t)**

In [60]:
t = (3, 1, 4, 1, 5)
print(len(t))

5

**max(t)**

In [41]:
print(max(t))

5

**min(t)**

In [43]:
print(min(t))

1

**sum(t)**

In [45]:
print(sum(t))

14

**sorted(t)**

In [46]:
print(sum(t))

14

**any(t)** -Returns True if any element is truthy

In [62]:
print(any(t))
tup = (0, 0, 0)
print(any(tup))  # Output: False
print(any(['', None, False, 'hello']))  # Output: True → 'hello' is truthy
print(any([]))  # Output: False → empty list = falsy

True
False
True
False

**all()**  
<br>True → if every element in the iterable is truthy<br>
False → if any element is falsy

In [64]:
tup = (1, 2, 3)
print(all(tup))  # Output: True
tup = (1, 0, 3)
print(all(tup))  # Output: False

True
False

**Convert a string to a tuple:**

In [66]:
s = "abc"
print(tuple(s))  # Output: ('a', 'b', 'c')

('a', 'b', 'c')

**Convert a list to a tuple**

In [67]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3)

(1, 2, 3)

**Convert a set to a tuple**

In [69]:
my_set = {10, 20, 30}
print(tuple(my_set))  # Output: (10, 20, 30) — order may vary

(10, 20, 30)

**Convert a dictionary to a tuple**

In [71]:
my_dict = {'a': 1, 'b': 2}
print(tuple(my_dict))  # Output: ('a', 'b') — only keys are taken

('a', 'b')