In [ ]:
List -  mutable

In [25]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [2]:
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [30]:
my_list.extend([7,8]) #Add multiple items
print(my_list)

[1, 2, 3, 4, 5, 7, 8, 7, 8]

In [31]:
my_list.insert(2,'10') # Insert at index
print(my_list)

[1, 2, '10', 3, 4, 5, 7, 8, 7, 8]

In [32]:
my_list.remove(8) # remove first ocuurance
print(my_list)

[1, 2, '10', 3, 4, 5, 7, 7, 8]

In [18]:
my_list.pop(3) #Remove and return item at index

3

In [22]:
print(my_list)

[1, 2, 3, 4, 5]

In [23]:
my_list.clear() # Remove all items

In [24]:
print(my_list)

[]

In [26]:
my_list.index(4) #Get index of first occurrence

3

In [33]:
my_list.count(7) #Count how many times an item appears

2

In [39]:
my_list.clear()
my_list.extend(["apple","kivi","banana","chiku"])
my_list.sort() #Sort the list in place support only str
print(my_list)

['apple', 'banana', 'chiku', 'kivi']

In [43]:
my_list.reverse()
print(my_list)

['apple', 'banana', 'chiku', 'kivi']

In [44]:
cclone = my_list.copy() # Make a shallow copy of the list
print(cclone)

['apple', 'banana', 'chiku', 'kivi']

In [ ]:
Tuple

In [48]:
my_tuple = (1, 2, 3, 4)

In [49]:
print(my_tuple)

(1, 2, 3, 4)

In [54]:
fruits = ["apple", "banana", "banana", "cherry", "banana"]
count = fruits.count("banana")
count_new = fruits.count("xyz")

print(count,' and ',count_new)

3  and  0

In [60]:
fruits = ["apple", "banana", "banana", "cherry", "banana"]
index = fruits.index("cherry") #Find the index (position) of the first occurrence of an item
#fruits.index("zxyz") # error  ValueError: 'zxyz' is not in list
print(index)

3

In [94]:
a, b, c = (1, 2, 3)
print(a,b,c)
a, *b, c = (1,2,3,6)
print(a,'-',b,'-',c)
d, e, f = 4, 5, 6
print(d,e,f)

1 2 3
1 - [2, 3] - 6
4 5 6

In [ ]:
set 
Unordered , No Duplicates, Mutable

In [61]:
my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

In [62]:
my_set = {1, 2}
my_set.add(3)
print(my_set)

{1, 2, 3}

In [81]:
my_set = {1, 2}
my_set.update([3, 4], (5, 6)) # add mauliple values
print(my_set)

{1, 2, 3, 4, 5, 6}

In [68]:
my_set.remove(2)
print(my_set)
# my_set.remove(5)  # ❌ Raises KeyError

{1, 3, 4, 5, 6}

In [78]:
# Removes the element. No error if not found.
my_set.discard(2)
my_set.discard(5)  # ✅ No error
print(my_set)

{1, 3, 4, 6}

In [80]:
my_set.pop() # Removes and returns a random element.
print(my_set)

{4, 6}

In [82]:
my_set.clear()
print(my_set)

set()

In [83]:
a = {1, 2}
b = {2, 3, 4}
print(a.union(b)) 
#Combines elements of two sets (removes duplicates)

{1, 2, 3, 4}

In [84]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b)) 
#Returns elements common to both sets

{2, 3}

In [86]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.difference(b))
#Returns elements in a but not in b

{1}

In [88]:
a = {1, 2}
b = {1, 2, 3}
print(a.issubset(b)) #Checks if all elements of set a are in set b


a = {1, 2, 3, 4}
b = {2, 3}
print(a.issuperset(b)) #Checks if set a contains all elements of set b

True
True

In [ ]:
Dictionary 
Unordered

In [134]:
my_dict = {'name': 'Alice', 'age': 25}
print(my_dict)

{'name': 'Alice', 'age': 25}

In [124]:
invalid_dict = {[1,2,3]: "123"}  # => Yield a TypeError: unhashable type: 'list'
valid_dict = {(1,2,3):[1,2,3]}   # Values can be of any type, however.

TypeError: unhashable type: 'list'

In [125]:
print(my_dict.get("name"))       
print(my_dict.get("gender", "N/A1212"))  # Output: N/A1212 (default if key not found)
print(my_dict.keys()) # print keys
print(my_dict.values()) 
print("items - " ,my_dict.items())

Alice
N/A1212
dict_keys(['name', 'age'])
dict_values(['Alice', 25])
items -  dict_items([('name', 'Alice'), ('age', 25)])

In [138]:
my_dict.update({"email": "alice@example12.com"})
print(my_dict)|

{'name': 'Alice', 'age': 25, 'email': 'alice@example12.com'}

In [127]:
t1 = my_dict.get("email")
print(t1)
t2 = my_dict("number")
print(t2)

alice@example12.com

TypeError: 'dict' object is not callable

In [128]:
age = my_dict.pop("age") #Remove and return a key's value
print(age)        # 25
print(my_dict)

25
{'name': 'Alice', 'email': 'alice@example12.com'}

In [107]:
item = my_dict.popitem() #Remove and return the last inserted key-value pair
print(item)

('email', 'alice@example12.com')

In [119]:
my_dict.clear()
print(my_dict)
my_dict.setdefault("gender", "female") 
my_dict.setdefault("gender", "male") # we can not chnagebafter set default still o/p will be female
print(my_dict)

{}
{'gender': 'female'}

In [139]:
del my_dict["email"]  # Removes the key "one" from filled dict

In [130]:
print(my_dict)

{'name': 'Alice'}